* {
    
}

.App {
    display: flex;
    gap: 15px;
}

.form {
    outline-style: dotted;
    outline-color: orange;
}

.cvTemplate {
    padding: 75px 50px 75px 50px;
    border-style: solid;
    border-color: black;
    width: 850px;
    height: 1100px;
}

.contactInfoContainer {
    display: flex;
    border-style: double;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    border-color: red;
}

.nameCV {
    font-size: 40px;
}

.contactInfoContainer {
    display: flex;
    gap: 25px;
}